trread.Rproj
.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.gitignore
gtfsr-opensci.Rproj
packrat/lib*/
.Rprofile
vignettes/*_cache/
R/.Rapp.history
vignettes/*.html
beta/
driver.R
temp-files/
README.html
R/problems.R
