.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.gitignore
gtfsr-opensci.Rproj
packrat/lib*/
.Rprofile
vignettes/*_cache/
R/.Rapp.history
vignettes/gtfsr-vignette.html
beta/
driver.R
temp-files/
README.html
